@import "icons/sampler";

@mixin valotest {
  @include valo;

  #themeSelect {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    padding: 0 10px;
    background-color: darken($v-app-background-color, 5%);
    background-color: rgba(darken($v-app-background-color, 5%), .9);
    color: valo-font-color($v-app-background-color);
    border-radius: 0 0 0 $v-border-radius;

    &:before {
      content: "Theme:";
    }

    select {
      background: transparent;
      color: inherit;
      border: none;
      display: inline-block;
    }
  }

  .v-ui {
    @include width-range($max: 800px) {
      #themeSelect {
        top: $v-unit-size;
      }
    }
  }




  .styleguide-view {
    > .v-spacing {
      height: $v-unit-size;
    }

    > .v-slot > .h1 {
      margin-bottom: 0;
    }
  }

  .documentation-item {
    padding: round($v-unit-size / 3);
    position: relative;

    .documentation {
      width: 22%;
      white-space: pre-wrap;

      h3 {
        margin-top: $v-layout-spacing-vertical;
      }
    }

    .code-example {
      @include valo-panel-well-style;
      color: valo-font-color($v-app-background-color, 0.5);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 35% !important;
      height: auto !important;
      white-space: pre-wrap;

      pre {
        margin: 0;
      }
    }

    .v-label.code-example,
    .code-example .v-label {
      padding: round($v-unit-size / 3);
    }

    .example {
      max-width: 43%;
      padding-top: $v-layout-spacing-vertical;
      padding-bottom: $v-layout-spacing-vertical;
    }

    @include width-range($min: 1001px) {
      .code-example {
        border-top-width: 0;
        border-right-width: 0;
        border-bottom-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    @include width-range($max: 1000px) {
      .code-example {
        position: static;
        display: block;
        width: auto !important;
        left: 0;
        margin: round($v-unit-size / 2) round($v-unit-size / -3) round($v-unit-size / -3);
        border-left-width: 0;
        border-right-width: 0;
        border-bottom-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        @include box-sizing(content-box);
      }

      .documentation {
        width: 30%;
      }

      .example {
        max-width: 70%;
      }
    }

    @include width-range($max: 760px - ($v-layout-margin-left + $v-layout-margin-right)) {
      .documentation {
        width: 100%;
        border-bottom: valo-border($strength: 0.5);
      }

      .example {
        max-width: 100%;
      }
    }
  }


}
